body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 180px;
  margin: 10px;
  max-height: 120px;
  border: 10px solid #a3858548;
  border-radius: 5px;
}

#search {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  border: 5px solid #a3858548;
  transition: all .5s linear;
}

.card  {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
  margin: 10px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(110, 167, 168, 0.068) 0%, rgba(250, 192, 67, 0.685) 100%);
}

.card:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}